* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #326cd3;
}

/* CUSTOM FONTS */

@font-face {
  font-family: IBM;
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: IBM;
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Regular.ttf");
  weight: 500;
}

@font-face {
  font-family: IBM;
  src: url("/public/fonts/IBM/IBMPlexSansArabic-Medium.ttf");
  font-weight: 600;
}
